body {
	background-color: #222;
	font-family: Verdana, sans-serif;
	padding: 0;
}

.container{
    width: 460px;
    margin: 0 auto;
}

.header{
	width: 100%;
}
.title{

	font-family: Tahoma, Sans-Serif;
	font-weight: bold;
	font-size: 100px;
	opacity: 0.75;
	color: #663300;
	width: 100%;
}


ul li{
	padding: 0;
	cursor: pointer;
    background: gray;
    font-size: 20px;
    list-style-type: none;
    height: 60px;
    width: 100%;
    padding-left: 10px;
    box-sizing: border-box;
    line-height: 55px;
    font-family: Garamond;
}

ul li:nth-child(odd){
    background: #f9f9f9;
}

#myUL{
	padding: 0;
	display: inline;
	width: 100%;
}

input{
	font-size: 20px;
	height: 52px;
	background: #ffd9b3;
	width: 80%;
	box-shadow: none;
 	border-radius: 0px;
 	border: 0;
 	margin: 0 auto;
 	-webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    padding-left: 10px;
    font-family: Garamond;
}
.button {
	color: #994d00;
	font-size: 1.05em;
	height: 52px;
	background: #b3b3b3;
	box-shadow: none;
 	border-radius: 0px;
 	border: 0;
 	width: 20%;
 	margin: 0 auto;
}
.button:hover{
	background: #666666;
}

.delbutton{
	color: #994d00;
	font-size: 1em;
	height: 60px;
	background: #b3b3b3;
	box-shadow: none;
 	border-radius: 0px;
 	border: 0;
 	/*width: 30px;*/
 	margin: 0 auto;
 	float: right;
 }
.delbutton:hover {
    background: #ddd;
}
.updateButton {
	color: #994d00;
	font-size: 1em;
	height: 60px;
	/*background: #b3b3b3;*/
	box-shadow: none;
 	border-radius: 0px;
 	border: 0;
 	
 	margin: 0 auto;
	float: right;
	 
}
.updateButton:hover {
    background: #ddd;
}
.modal {
    display: none; /* Hidden by default */
    position: fixed; /* Stay in place */
    z-index: 1; /* Sit on top */
    padding-top: 100px; /* Location of the box */
    left: 0;
    top: 0;
    width: 100%; /* Full width */
    height: 100%; /* Full height */
    overflow: auto; /* Enable scroll if needed */
    background-color: rgb(0,0,0); /* Fallback color */
    background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
}

.modal-content {
    background-color: #fefefe;
    margin: auto;
    padding: 20px;
    border: 1px solid #888;
    width: 80%;
}

.close {
    color: #aaaaaa;
    float: right;
    font-size: 28px;
    font-weight: bold;
}

.close:hover,
.close:focus {
    color: #000;
    text-decoration: none;
    cursor: pointer;
}